body {
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    background-color: lightgrey;
}

.main-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 42px;
}

.heading { 
    font-size: 56px;
    margin: 0;
    padding: 12px;
    text-align: center;
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    gap: 42px;
    border: none;
}

.settings-container {
    flex: auto;
    width: 250px;
    height: 500px;
}

#grid-container {
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
}

.row {
    flex: 1;
    display: flex;
    border: none;
}

.cell {
    flex: 1;
    border: 1px solid black;
    background-color: white;
}

div {
    margin: 0;
    padding: 0;
    border: 2px solid black;
}